/node_modules/*
!/node_modules/bulma
!/node_modules/@fortawesome

/node_modules/bulma/*
!/node_modules/bulma/css

/node_modules/@fortawesome/fontawesome-free/js
/node_modules/@fortawesome/fontawesome-free/less
/node_modules/@fortawesome/fontawesome-free/metadata
/node_modules/@fortawesome/fontawesome-free/scss
/node_modules/@fortawesome/fontawesome-free/sprites
/node_modules/@fortawesome/fontawesome-free/svgs

